.header{
    margin-top: 10px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Yuji Syuku', serif;
    color: rgb(19, 17, 17);
}

.headerTitleLg{
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    margin-top: 70px;
    margin-left: 255px;
}

.headerImg{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    object-fit: cover;
}